hr

.footer
	p ©WeAreLeka! 2013

script(src = 'http://code.jquery.com/jquery-1.10.1.min.js')
script(src = '/lib/bootstrap/js/bootstrap.min.js')
script(src = '/socket.io/socket.io.js')
script(src = '/js/d3.v3.min.js')
script(src = '/js/bootstrap-formhelpers-selectbox.js')
script(src = '/js/on_off.js')

if (title == 'd3js')
	script(src='/js/d3.js')

if (title == 'graphs')
	script(src='/js/graphs.js')

if (title == 'particles')
	script(src='/js/particles.js')