.masthead

	ul.nav.nav-pills.pull-right

		if (title == 'home')
			li.active
				a(href = '/home') Home
		else
			li
				a(href = '/home') Home

		if (title == 'data')
			li.active
				a(href = '/data') Data
		else
			li
				a(href = '/data') Data

		if (title == 'graphs')
			li.active
				a(href = '/graphs') Graphs
		else
			li
				a(href = '/graphs') Graphs

		if (title == 'particles')
			li.active
				a(href = '/particles') Particles
		else
			li
				a(href = '/particles') Particles

		if (title == 'd3js')
			li.active
				a(href = '/d3js') D3.js
		else
			li
				a(href = '/d3js') D3.js

		if (title == 'list')
			li.active
				a(href = '/list') list
		else
			li
				a(href = '/list') list

		li
			a(onclick="on_off();", id="on_off", class="red") Off


	h1.muted Project Moti

	hr