extends layout

block content  	
    div.jumbotron
      h2 We try D3JS here !
      p.lead Go fuck a goat 
      div.test
      
    hr

      
    script(src='/js/d3.js')
    .footer
      p © Project_moti 2013

