extends layout

block content  	
    .jumbotron
      h2 Here they are !
      p.lead Take a look at these real-time graphs dumbass:
      .row
        .span8
          graphs
        div.span2(id=z) Schwanstũcke


      
    hr

      
    script(src='/js/graphs.js')
    .footer
      p © Project_moti 2013

