 body {
        padding-top: 20px;
        padding-bottom: 40px;
        background: #fff;
      }
      a,.btn
      {
        margin-left: 4px;
        cursor:pointer;
      }
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 900px; 
      }
      .cases
      {
        float: right;
      }
      #area
      {
        width: 900px;
        height: 500px;
      }
      .bouton
      {
        float : left;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .par {
         background: #222;
         color:white;
       
       } 
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }


      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      svg {
       font: 10px Tahoma,sans-serif;
      }
      .red
      {
        background-color: red;
        color : white; 
      }


      .line {
        fill: none;
      }
 path {
  fill: none;
  stroke : #e94366;
  stroke-width: 1px;
}

.axis path, .axis line {
  stroke-width: 1px;
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

circle {
  fill: none;
  stroke-width: 1.5px;
}


.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.path_x {
    stroke:green;
}
.path_y {
    stroke:red;
}
.path_z {
    stroke:blue;
}.path_roll {
    stroke:green;
}
.path_pitch {
    stroke:red;
}
.path_yaw {
    stroke:blue;
}
#x{ color:green;}
#y{ color:red;}
#z{ color:blue;}
