extends layout

block content

	.jumbotron

		h1 We are fuckin awesome!

		p.lead
			| We care about your fuckin autists children

		a.btn.btn-large.btn-success(href='http://www.weareleka.com') Learn more shit


