extends layout

block content
    .jumbotron
      h2 Really big data !
      -if(list==0)
        graphs
      -if(list==1)
        each item in moti
          - if(b!=item.session) 
              li 
                a(href='list/'+item.session) Session # #{item.session}
            - b = item.session;
      
      hr

      
    .footer
    script(src='/js/list.js')
      p © Project_moti 2013

