extends layout

block content
    .jumbotron
      -if(list==0)
        h2 Session ##{session} at #{date} 
          a(href="/list",onclick="deleteSession(#{session})")
            i.icon-trash

        span#x  X  -     
        input(type='checkbox', id='X', checked, onchange="addChart()")
        span#y  Y  -    
        input(type='checkbox', id='Y', checked, onchange="addChart()")
        span#z  Z  -     
        input(type='checkbox', id='Z', checked, onchange="addChart()")
        graphs#graphs

      -if(list==1)
        h2 Really big data !
        each item in moti
          li 
            a(href='list/'+item) Session ##{item}
            
      
      hr

      
    .footer
    script(src='/js/list.js')
      p © Project_moti 2013

